extends ../_pug-includes/layout

block vars
    - var active = 'docs'  
    - var bodyAttrs = {'data-spy': "scroll", 'data-target': "#components-nav", 'data-offset':"80"}
    - var path = '../'    

block content

    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: '../index.html'})
    - breadcrumbs.push({name: 'Documentation', link: 'docs-introduction.html'})
    - breadcrumbs.push({name: 'Credits'})
    - var heroHeading = 'Credits'
    - var current = 'docs/docs-credits.html'
    
    include ../_pug-includes/inc-hero


    section.py-6
        .container-fluid
            .row.px-xl-5
                .col-lg-2
                    include ../_pug-includes/inc-docs-sidebar

                .col-lg-10.col-xl-8.docs-content

                    +componentDocItem('Credits')

                        ul
                            li.mb-3
                                strong Bootstrap
                                | - 
                                a(href='https://getbootstrap.com/') https://getbootstrap.com/
                            li.mb-3
                                strong Google Fonts - Playfair Display
                                |  - 
                                a(href='https://fonts.google.com/specimen/Playfair+Display') https://fonts.google.com/specimen/Playfair+Display
                            li.mb-3
                                strong Google Fonts - Poppins
                                | - 
                                a(href='https://fonts.google.com/specimen/Poppins') https://fonts.google.com/specimen/Poppins
                            li.mb-3
                                strong Orion Icons 
                                | - 
                                a(href='https://orioniconlibrary.com') https://orioniconlibrary.com
                            li.mb-3
                                strong Font Awesome 
                                | - 
                                a(href='http://fontawesome.io/get-started/') http://fontawesome.io/get-started/
                            li.mb-3
                                strong LeafletJS
                                | - 
                                a(href='https://leafletjs.com/') https://leafletjs.com/
                            li.mb-3
                                strong Magnific Popup 
                                | - 
                                a(href='https://dimsemenov.com/plugins/magnific-popup/') https://dimsemenov.com/plugins/magnific-popup/
                            li.mb-3
                                strong Swiper 
                                | - 
                                a(href='http://idangero.us/swiper/') http://idangero.us/swiper/
                            li.mb-3
                                strong NoUI Slider 
                                | - 
                                a(href='https://refreshless.com/nouislider/') https://refreshless.com/nouislider/
                            li.mb-3
                                strong Bootstrap Select
                                | - 
                                a(href='https://developer.snapappointments.com/bootstrap-select/') https://developer.snapappointments.com/bootstrap-select/
                            li.mb-3
                                strong Object-fit-images 
                                | - 
                                a(href='https://github.com/bfred-it/object-fit-images') https://github.com/bfred-it/object-fit-images
                            li.mb-3
                                strong Demo images from Unsplash. See them in a collection. 
                                | - 
                                a(href='https://unsplash.com/collections/3372734/directory') https://unsplash.com/collections/3372734/directory




