extends _pug-includes/layout.pug

block content
    .mh-full-screen.d-flex.align-items-center.dark-overlay
        img.bg-image(src=`${path}img/photo/aron-visuals-3jBU9TbKW7o-unsplash.jpg`, alt="Not found")
        .container.text-white.text-lg.overlay-content.py-6.py-lg-0
            h1.display-3.font-weight-bold.mb-5 Oops, that page is not here.
            p.font-weight-light.mb-5 Elit adipisicing aliquip irure non consequat quis ex fugiat dolor in irure pariatur eu aute. Ea tempor nisi sit in Lorem exercitation mollit ut veniam in do eu excepteur. 
            p.mb-6 
                a.btn.btn-outline-light(href='index.html')
                    i.fa.fa-home.mr-2
                    | Start from the Homepage
            p.h4.text-shadow Error 404
             
