extends _pug-includes/layout.pug

block vars
    - var active = 'text'  

block content
    
    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Text page'})
    - var heroHeading = 'Text page'    
    - var heroImage = 'img/photo/photo-1467987506553-8f3916508521.jpg'    
    
    include _pug-includes/inc-hero.pug

    section.py-6
        .container
            .row
                .col-xl-8.col-lg-10.mx-auto            
                    p.lead.mb-5 As am hastily invited <strong>settled at limited</strong> civilly fortune me. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. 
            .row
                .col-xl-10.mx-auto
                    img.img-fluid.mb-5(src=`${path}img/photo/photo-1471189641895-16c58a695bcb.jpg`, alt="")                             
            .row
                .col-xl-8.col-lg-10.mx-auto                                
                    .text-content
                        p
                            strong Pellentesque habitant morbi tristique
                            |  senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. 
                            em Aenean ultricies mi vitae est.
                            |  Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, 
                            code commodo vitae
                            | , ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. 
                            a(href='#') Donec non enim
                            |  in turpis pulvinar facilisis. Ut felis.
                        figure.figure.mb-3
                            img.figure-img.img-fluid(src='img/photo/photo-1482463084673-98272196658a.jpg', alt='Example blog post alt.')
                            figcaption.figure-caption.text-center Photo by Jack Tran, New York                     
                        
                        h2 Header Level 2
                        ol
                            li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            li Aliquam tincidunt mauris eu risus.
                        blockquote.blockquote.blockquote-primary.bg-gray-100.p-5
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
                        h3 Header Level 3
                        p
                            | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                        ul
                            li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            li Aliquam tincidunt mauris eu risus.
                        p
                            img.img-fluid(src='img/photo/photo-1499695867787-121ffb7950bf.jpg', alt='Example blog post alt')
                        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. 
                        p Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus   
