// Divider Section
section.py-7.position-relative.dark-overlay
    img.bg-image(src=`${path}img/photo/photo-1497436072909-60f360e1d4b1.jpg`, alt="") 
    .container
        .overlay-content.text-white.py-lg-5
            h3.display-3.font-weight-bold.text-serif.text-shadow.mb-5 Ready for your next holidays?
            a.btn.btn-light(href="category-rooms.html") Get started
