.card.border-0.position-relative.py-6.overflow-hidden.shadow
    img.bg-image(src=`${path}img/photo/restaurant-1504087697492-238a6bf49ce8.jpg`, alt="")
    .card-body.text-center.position-relative 
        h3.text-white.text-uppercase.mb-0 I have a background image