// Slider main container
- var itemClass = 'w-100 h-100'
.swiper-container.swiper-container-mx-negative.items-slider
    // Additional required wrapper
    .swiper-wrapper.pb-5
        // Slides
        each val in restaurantsJson.features
            .swiper-slide.h-auto.px-2
                +venue(val.properties, itemClass)

    // If we need pagination
    .swiper-pagination