// Divider Section
section.py-6.py-lg-7.position-relative.dark-overlay
    img.bg-image(src=`${path}img/photo/photo-1507915135761-41a0a222c709.jpg`, alt="")
    .container
        .overlay-content.text-white.py-lg-5.text-center
            p.subtitle.text-white.letter-spacing-4.mb-4 Find the best spots
            h3.display-3.font-weight-bold.text-serif.text-shadow.mb-5 Travel & Explore
            p.lead.text-shadow.mb-5 #{dummyText[0]}
            a.btn.btn-primary(href="category-rooms.html") Get started
