- var rooms = []
- rooms.push({name: 'Modern, Well-Appointed Room', subtitle: 'Private room', image: 'photo-1484154218962-a197022b5858.jpg', stars: 5, person: 'Pamela', avatar: 'img/avatar/avatar-0.jpg'})
- rooms.push({name: 'Cute Quirky Garden apt, NYC adjacent', subtitle: 'Entire apartment', image: 'photo-1426122402199-be02db90eb90.jpg', stars: 4, person: 'John', avatar: 'img/avatar/avatar-7.jpg'})
- rooms.push({name: 'Modern Apt - Vibrant Neighborhood!', subtitle: 'Entire apartment', image: 'photo-1512917774080-9991f1c4c750.jpg', stars: 3, person: 'Julie', avatar: 'img/avatar/avatar-8.jpg'})
- rooms.push({name: 'Sunny Private Studio-Apartment', subtitle: 'Shared room', image: 'photo-1494526585095-c41746248156.jpg', stars: 4, person: 'Barbora', avatar: 'img/avatar/avatar-9.jpg'})
- rooms.push({name: 'Mid-Century Modern Garden Paradise', subtitle: 'Entire house', image: 'photo-1522771739844-6a9f6d5f14af.jpg', stars: 5, person: 'Jack', avatar: 'img/avatar/avatar-10.jpg'})
- rooms.push({name: 'Brooklyn Life, Easy to Manhattan', subtitle: 'Private room', image: 'photo-1488805990569-3c9e1d76d51c.jpg', stars: 5, person: 'Stuart', avatar: 'img/avatar/avatar-11.jpg'})