section.py-6.bg-white
    .container
        .row
            .col-lg-6.pl-lg-0(style=`background-image: url(${path}img/photo/photo-1534850336045-c6c6d287f89e.jpg)`).bg-cover
            .col-lg-6.d-flex.align-items-center
                .p-6
                    h3 Venice - Pearl of Italy
                    p.text-muted With a city as filled with tourist attractions as Venice, it's hard to know where to begin. Perhaps the best way is to simply get lost for a few hours wandering through its enchanting little streets and passageways, strolling beside its canals, and finding its secret corners. At every turn, you'll see something worth remembering with a photo. No matter where this exploration takes you, it's easy to find your way back to Piazza San Marco and the Grand Canal. Most of the best sights you'll want to visit lie around these two landmarks.
            .col-lg-6.d-flex.align-items-center
                .p-6
                    h3 Venice - Pearl of Italy
                    p.text-muted With a city as filled with tourist attractions as Venice, it's hard to know where to begin. Perhaps the best way is to simply get lost for a few hours wandering through its enchanting little streets and passageways, strolling beside its canals, and finding its secret corners. At every turn, you'll see something worth remembering with a photo. No matter where this exploration takes you, it's easy to find your way back to Piazza San Marco and the Grand Canal. Most of the best sights you'll want to visit lie around these two landmarks.
            .col-lg-6.pr-lg-0(style=`background-image: url(${path}img/photo/photo-1534850336045-c6c6d287f89e.jpg)`).bg-cover
