.block
    .block-header(role='tab')
        h6.text-uppercase.mb-0 Block header
    .block-body
        form(action="#")
            .row
                .form-group.col-md-6
                    label.form-label(for="card-name") Name on Card
                    input.form-control(type="text", name="card-name", placeholder="Name on card", id="card-name")
                .form-group.col-md-6
                    label.form-label(for="card-number") Card Number
                    input.form-control(type="text", name="card-number", placeholder="Card number", id="card-number")