.alert.alert-warning.text-sm.mb-3
    .media.align-items-center
        +svgIcon('heart-1', 'svg-icon svg-icon-light w-2rem h-2rem mr-3 text-reset')
        .media-body
            <strong>This home is on people’s minds.</strong> It’s been viewed 43 times in the past week.