#accordion(role='tablist')
    .card.border-0.shadow.mb-3
        #headingOne.card-header.bg-primary-100.border-0.py-0(role='tab')
            a.accordion-link.collapsed(data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                | Option one
        #collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne',  data-parent='#accordion')
            .card-body.py-5
                p.text-muted Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. 
                p.text-muted.mb-0 Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                
    .card.border-0.shadow.mb-3
        #headingTwo.card-header.bg-primary-100.border-0.py-0(role='tab')
            a.accordion-link.collapsed(data-toggle='collapse', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                | Paypal
        #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo', data-parent='#accordion')
            .card-body.py-5.d-flex.align-items-center
                input(type="radio", name="shippping", id="payment-method-1")
                label.ml-3(for="payment-method-1")
                    strong.d-block.text-uppercase.mb-2  Pay with PayPal
                    span.text-muted.text-sm Lorem ipsum dolor sit amet, consectetur adipisicing elit.                                          
    .card.border-0.shadow.mb-3
        #headingThree.card-header.bg-primary-100.border-0.py-0(role='tab')
            a.accordion-link.collapsed(data-toggle='collapse', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                | Pay on delivery
        #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree', data-parent='#accordion')
            .card-body.py-5.d-flex.align-items-center
                input(type="radio", name="shippping", id="payment-method-2")
                label.ml-3(for="payment-method-2")
                    strong.d-block.text-uppercase.mb-2  Pay on delivery
                    span.text-muted.text-sm Lorem ipsum dolor sit amet, consectetur adipisicing elit.    