.dropdown.d-inline-block
    button#dropdownMenuButton.btn.btn-outline-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Default
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
        h6.dropdown-header.font-weight-normal Dropdown header
        a.dropdown-item(href='#') Action
        a.dropdown-item(href='#') Another action
        a.dropdown-item(href='#') Something else here
        .dropdown-divider
        a.dropdown-item(href='#') Something else here