.row.mb-5
    .col-xl-10.mx-auto
        form(action="#")
            .row
                .form-group.col-lg-5
                    .input-label-absolute.input-label-absolute-right
                        label.label-absolute(for="form_search")
                            i.fa.fa-search
                            .sr-only What are you looking for?
                        input.form-control(type="search", name="search", placeholder="What are you looking for?", id="form_search")
                .form-group.col-lg-5
                    .input-label-absolute.input-label-absolute-right
                        label.label-absolute(for="form_destination")
                            i.fa.fa-crosshairs
                            .sr-only City
                        input.form-control.pl-3(type="destination", name="destination", placeholder="Destination, City." id="form_destination")
                .form-group.col-lg-2
                    button.btn.btn-outline-primary.btn-block(type="submit") Search