nav(aria-label='Page navigation example')
    ul.pagination
        li.page-item
            a.page-link(href='#', aria-label='Previous') Previous

        li.page-item.active
            a.page-link(href="#") 1       
        li.page-item
            a.page-link(href="#") 2       
        li.page-item
            a.page-link(href="#") 3       
        li.page-item
            a.page-link(href="#") 4       
        li.page-item
            a.page-link(href="#") 5 
        li.page-item
            a.page-link(href='#', aria-label='Next') Next