.col-md-4.text-center.text-md-left.mb-4.mb-md-0
    .icon-rounded.mb-4(class="bg-primary-light")
        +svgIcon('map-location-1', 'w-2rem h-2rem text-primary')

    h3.h5 Address
    p.text-muted
        | 13/25 New Avenue
        br
        | New Heaven, 45Y 73J
        br
        | England, 
        strong Great Britain

.col-md-4.text-center.text-md-left.mb-4.mb-md-0
    .icon-rounded.mb-4(class="bg-primary-light")
        +svgIcon('landline-1', 'w-2rem h-2rem text-primary')
    h3.h5 Call center
    p.text-muted Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    p.text-muted
        strong +33 555 444 333

.col-md-4.text-center.text-md-left.mb-4.mb-md-0
    .icon-rounded.mb-4(class="bg-primary-light")
        +svgIcon('mail-1', 'w-2rem h-2rem text-primary')
        
    h3.h5 Electronic support
    p.text-muted
        | Please feel free to write an email to us or to use our electronic ticketing system.
    ul.list-unstyled.text-muted
        li info@sell.com
        li support@sell.com