ul.list-unstyled
    li.list-inline-item.h5.mr-3
        i.fas.fa-address-book
    li.list-inline-item.h5.mr-3
        i.far.fa-address-book
    li.list-inline-item.h5.mr-3
        i.fas.fa-address-card
    li.list-inline-item.h5.mr-3
        i.far.fa-address-card
    li.list-inline-item.h5.mr-3
        i.fas.fa-adjust
    li.list-inline-item.h5.mr-3
        i.fas.fa-align-center
    li.list-inline-item.h5.mr-3
        i.fas.fa-align-justify
    li.list-inline-item.h5.mr-3
        i.fas.fa-align-left
    li.list-inline-item.h5.mr-3
        i.fas.fa-align-right
    li.list-inline-item.h5.mr-3
        i.fas.fa-allergies
    li.list-inline-item.h5.mr-3
        i.fas.fa-ambulance
    li.list-inline-item.h5.mr-3
        i.fas.fa-american-sign-language-interpreting
    li.list-inline-item.h5.mr-3
        i.fas.fa-anchor
    li.list-inline-item.h5.mr-3
        i.fas.fa-angle-double-down
    li.list-inline-item.h5.mr-3
        i.fas.fa-angle-double-left
    li.list-inline-item.h5.mr-3
        i.fas.fa-angle-double-right
    li.list-inline-item.h5.mr-3
        i.fas.fa-angle-double-up
    li.list-inline-item.h5.mr-3
        i.fas.fa-angle-down
    li.list-inline-item.h5.mr-3
        i.fas.fa-angle-left
    li.list-inline-item.h5.mr-3
        i.fas.fa-angle-right
    li.list-inline-item.h5.mr-3
        i.fas.fa-angle-up
    li.list-inline-item.h5.mr-3
        i.fas.fa-archive
    li.list-inline-item.h5.mr-3
        i.fas.fa-arrow-alt-circle-down
    li.list-inline-item.h5.mr-3
        i.far.fa-arrow-alt-circle-down        
