// Divider Section
section.py-6.bg-gray-100
    .container
        .row
            .col-lg-6.mb-5.mb-lg-0.text-center.text-lg-left
                p.subtitle.text-secondary Start using Directory today
                p.text-lg Directory is the best way to find & discover great local businesses
                p.text-muted.mb-0 #{dummyText[0].substr(0,100)}
            .col-lg-6.d-flex.align-items-center.justify-content-center
                .text-center
                    p.mb-2
                        a.btn.btn-lg.btn-primary(href='#') Create Your Account
                    p.text-muted.text-small It's free!

    