// Slider main container
- var itemClass = 'w-100 h-100 hover-animate'
.swiper-container.swiper-container-mx-negative.items-slider-full.px-lg-5.pt-3
    // Additional required wrapper
    .swiper-wrapper.pb-5
        // Slides
        each val in roomsJson.features
            .swiper-slide.h-auto.px-2
                +home(val.properties, itemClass)
        each val in roomsJson.features
            .swiper-slide.h-auto.px-2
                +home(val.properties, itemClass)                

    // If we need pagination
    .swiper-pagination