.card.mb-3
    .card-body
        nav(aria-label='breadcrumb', role='navigation')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Home
                li.breadcrumb-item
                    a(href='#') Library
                li.breadcrumb-item.active(aria-current='page') Data