.card.mb-3
    .card-body
        h6.text-uppercase.mb-4 Button Colors
        button.btn.btn-primary.mb-2(type='button') Primary
        button.btn.btn-secondary.mb-2(type='button') Secondary
        button.btn.btn-muted.mb-2(type='button') Muted
        button.btn.btn-success.mb-2(type='button') Success
        button.btn.btn-danger.mb-2(type='button') Danger
        button.btn.btn-warning.mb-2(type='button') Warning
        button.btn.btn-info.mb-2(type='button') Info
        button.btn.btn-light.mb-2(type='button') Light
        button.btn.btn-dark.mb-2(type='button') Dark
        button.btn.btn-link.mb-2(type='button') Link
.card
    .card-body
        h6.text-uppercase.mb-4 Button Sizes
        button.btn.btn-primary.btn-lg.mb-2(type='button') Large button
        button.btn.btn-secondary.mb-2(type='button') Standard button
        button.btn.btn-outline-primary.btn-sm.mb-2(type='button') Small button