.row
    .col-lg-6
        .card.mb-5.border-0.text-white.dark-overlay.shadow-lg
            img.card-img(src=`${path}img/photo/photo-1467987506553-8f3916508521.jpg`, alt='')
            a.tile-link(href='category.html')  
            .card-img-overlay.d-flex.align-items-center
                .w-100.overlay-content
                    h2.text-center.mb-0 Dark overlay                                               
    .col-lg-6
        .card.mb-5.border-0.text-center.light-overlay.shadow-lg
            img.card-img(src=`${path}img/photo/photo-1514890547357-a9ee288728e0.jpg`, alt='')
            a.tile-link(href='category.html')  
            .card-img-overlay.d-flex.align-items-center
                .w-100.overlay-content
                    h2.text-center.mb-0 Light overlay 
    .col-lg-6
        .card.mb-5.border-0.text-center.gradient-overlay.shadow-lg
            img.card-img(src=`${path}img/photo/photo-1514890547357-a9ee288728e0.jpg`, alt='')
            a.tile-link(href='category.html')  
            .card-img-overlay-bottom.z-index-20.text-white
                h2.h5.card-text Gradient Overlay
                    