.row
    .col-md-6
        .card.border-0.shadow.mb-3
            img.card-img-top(src=`${path}img/photo/restaurant-1508766917616-d22f3f1eea14.jpg`, alt='Card image cap')
            .card-body
                h4.card-title Card title
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') Go somewhere
    .col-md-6
        .card.text-white.border-0.shadow.dark-overlay.overflow-hidden
            img.card-img(src=`${path}img/photo/restaurant-1466978913421-dad2ebd01d17.jpg`, alt='Card image')
            .card-img-overlay.d-flex.align-items-center
                .overlay-content
                    h3.card-title.text-uppercase.font-weight-normal Card title
                    p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    p.card-text.text-sm Last updated 3 mins ago